# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/

# Data & models (large files)
data/**/train/*.arrow
data/**/dev/*.arrow
saved_models/


# Plots
plots/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
